body {
  margin: 0;
  padding: 0;
}

#content {
  background-image: url("../assets/about-us-banner.jpg");
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#banner-text {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner-text h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 7em;
  font-family: pop-medium;
}

#info {
  background-color: black;
}

#info-title {
  padding: 50px 0;
}

#info-title h3 {
  font-size: 4em;
  margin: 0;
  padding: 50 0px;
  text-align: center;
  font-family: pop-medium;
  color: white;
  text-shadow: 2px 2px 5px grey;
}

#info-text {
  padding: 70px;
}

#info-text h6 {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  font-family: pop-regular;
  text-shadow: 0 0 20px white;;
  color: white;
}

#side-to-side {
  background-image: url("../assets/neon-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#upper-left {
  display: flex;
  margin: 30px;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 80px;
  filter: opacity(90%);
}

hr {
  width: 100%;
  background-color: gray;
}

#upper-left h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2.8em;
  font-family: pop-bold;
  text-shadow: 0 0 20px white;
}

#upper-left h3 {
  margin: 0;
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 10px;
  font-family: pop-medium;
  background: -webkit-linear-gradient(#FF006F, #008CFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#upper-left p {
  margin: 0;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 30px;
  font-family: pop-regular;
}

#upper-right {
  display: flex;
  text-align: center;
  filter: brightness(50%);
  background-color: black;
  margin: 20px;
}

#upper-right img {
  margin: 20px;
  height: 80vh;
}

#lower-side {
  padding: 50px;
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}

#lower-side p {
  width: 85%;
  font-size: 1.2em;
  font-family: pop-regular;
  text-shadow: 0 0 20px white;
}

#journey-title {
  margin: 50px;
  padding: 0 50px 0 50px;
  text-align: center;
  font-size: 3em;
  font-family: pop-medium;
}

#journey-title h3 {
  margin: 0;
  padding: 0;
}

#journey-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 50px 0;
}

.journey-photos img {
  width: 25vw;
  height: 65vh;
  border-radius: 15px;
  position: relative;
  transition: all 1.5s;
}

.journey-photos img:hover {
  cursor: pointer;
  width: 30vw;
  height: 75vh;
}

#socials-title h3 {
  padding: 0 50px;
  text-align: center;
  font-size: 4em;
  font-family: pop-medium;
}

#socials-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.socials-cont {
  padding: 16px;
  background-color: black;
  border-radius: 35px;
}

.socials-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: #FF2CDC 3px solid;
  box-shadow: 0 0 10px #FF2CDC, 
              inset 0 0 10px #FF2CDC;
}

.socials-icon img {
  height: 50px;
  padding-bottom: 10px;
}

.socials-label {
  color: white;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 0 0 20px white;
  font-family: pop-regular;
}

#socials-bottom h6 {
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding: 50px 0;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-size: 1em;
  font-family: pop-regular;
}

@media screen and (max-width: 969px) {
  #content {
    height: 70vh;
  }

  #banner-text {
    height: 70vh;
  }

  #banner-text h1 {
    font-size: 5em;
  }

  #info-title h3 {
    font-size: 2.5em;
  }

  #journey-text {
    padding: 30px 0;
  }

  #info-text {
    padding: 40px;
  }

  #info-text h6 {
    font-size: 1em;
  }

  #upper-left {
    padding: 30px;
  }

  #upper-left h1 {
    font-size: 1.7em;
  }

  #upper-left h3 {
    font-size: 1.2em;
  }

  #upper-left p {
    font-size: 0.9em;
  }

  hr {
    width: 90%;
  }

  #upper-right img {
    height: 60vh;
  }

  #lower-side p {
    font-size: 1em;
  }

  .journey-photos img {
    height: 50vh;
  }

  #socials-title h3 {
    font-size: 2.5em;
  }

  .socials-card {
    padding: 20px;
  }

  .socials-label {
    font-size: 0.8em;
  }

  #socials-bottom h6 {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {

  .journey-photos img {
    height: 30vh;
  }

  #upper-left {
    padding: 15px;
    border-radius: 40px;
  }

  #upper-left h1 {
    font-size: 1.3em;
  }

  #upper-left h3 {
    font-size: 1em;
  }

  #upper-left p {
    font-size: 0.7em;
  }

  #upper-right img {
    height: 40vh;
  }

  .socials-icon img {
    height: 40px; 
  }

}

@media screen and (max-width: 414px) {

  #content {
    height: 50vh;
  }

  #banner-text {
    height: 50vh;
  }

  #banner-text h1 {
    font-size: 3em;
  }

  #info-title {
    padding: 20px 0;
  }

  #info-title h3 {
    font-size: 1.5em;
  }

  #info-text h6 {
    font-size: 0.6em;
  }

  #side-to-side {
    flex-direction: column-reverse;
  }

  #upper-left {
    padding: 20px;
    border-radius: 30px;
  }

  #upper-left h1 {
    font-size: 1.2em;
  }

  #upper-left h3 {
    font-size: 0.8em;
  }

  #upper-left p {
    font-size: 0.4em;
  }

  hr {
    width: 90%;
  }

  #upper-right img {
    height: 30vh;
    margin: 10px;
  }

  #lower-side {
    padding: 40px;
  }

  #lower-side p {
    font-size: 0.6em;
    margin: 0;
  }

  #journey-content {
    padding: 20px 0;
  }

  .journey-photos img {
    height: 20vh;
  }

  #socials-title h3 {
    font-size: 1.5em;
  }

  #socials-content {
    flex-direction: column;
  }

  .socials-cont {
    margin: 20px 0;
  }

  .socials-card {
    padding: 20px;
  }

  .socials-icon img {
    height: 30px; 
  }

  .socials-label {
    font-size: 0.6em;
  }

  #socials-bottom h6 {
    font-size: 0.6em;
    padding: 20px 18px;
  }

}