/* untuk jump ke map */

#jump-map {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: white;
    border-radius: 100px;
}

#jump-map img {
    width: 50px;
    height: 50px;
}

/* banner */

#banner {
    background-image: url("../assets/location-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 100px;
    transition: all .5s ease;
}

#map-cont {
    text-align: center;
    background-color: black;
    padding: 50px 0;
}

#map {
    width: 80%;
    border: none;
    height: 480px;
}

/* cities */

#cities {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: black;
}

/* each city */

.city-name {
    margin: 0;
    padding-left: 50px;
}

.loc-card {
    margin: 16px 50px;
    overflow: hidden;
    width: 300px;
    height: 270px;
    transition: all 1s ease-in-out;
}

/* picture 1, 2, 3, 4 */

.picture1 {
    width: 300px;
    height: 200px;
    background-image: url("../assets/Location1.jpeg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.picture2 {
    width: 300px;
    height: 200px;
    background-image: url("../assets/Location2.jpeg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.picture3 {
    width: 300px;
    height: 200px;
    background-image: url("../assets/Location3.jpeg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.picture4 {
    width: 300px;
    height: 200px;
    background-image: url("../assets/Location4.jpeg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.loc-text {
    color: white;
    font-family: pop-regular;
    padding: 16px 8px;
    background-color: black;
    width: 284px;
    transition: all .3s ease-in-out;
}

.rest-name {
    font-family: pop-bold;
    font-size: 22px;
}

.address {
    font-size: 14px;
}

.open-time {
    text-align: center;
    font-size: 14px;
    font-family: pop-medium;
}

.book-btn {
    font-size: 16px;
    padding: 8px;
    margin: 16px 4px;
    text-align: center;
    border: #FF2CDC 2px solid;
    box-shadow: 0 0 10px #FF2CDC, 
                inset 0 0 10px #FF2CDC;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

.line {
    border-top: 1px solid white;
    padding: 0;
}

/* make loc-card interactive */

.loc-card:hover .loc-text {
    cursor: pointer;
    transform: translate(0, -120px);
}

.book-btn:hover {
    cursor: pointer;
    background-color: #FF2CDC;
}

/* quote */

#quote {
    padding: 150px 100px;
    text-align: center;
    justify-content: center;
}

#q-header {
    font-family: pop-regular;
    font-size: 14px;
}

#q-content {
    font-size: 60px;
    font-family: pop-medium;
    padding: 50px;
    padding-bottom: 100px;
}

#q-bold {
    font-family: pop-bold;
}

#q-link {
    font-family: pop-regular;
    border-bottom: 1px solid black;
}

#q-link > a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 969px) {
    #jump-map {
        right: 30px;
        bottom: 30px;
    }
    
    #banner {
        font-size: 80px;
        height: 70vh;
    }

    .locations {
        flex-direction: column;
    }

    .city-name {
        font-size: 40px;
        padding: 0;
        text-align: center;
    }

    .loc-card, .picture, .loc-text {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .book-btn {
        margin: 16px;
    }

    .rest-name, .address, .line, .open-time {
        margin-left: 16px;
        margin-right: 16px;
    }

    #quote {
        padding: 150px 20px;
    }

    #q-header {
        font-size: 14px;
    }

    #q-content {
        font-size: 40px;
    }
}