#banner {
    background-image: url("../assets/Location3_.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 80vh;
}
#banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title{
    font-size: 6em;
}

#textloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  .container {
    width: 100%;
    margin:0 auto;
    border-radius: 5px;
    padding-top: 100px;
    padding-bottom: 50px;
  }

#small {
    padding-left: 10px;
    padding-right: 10px;
}

p{
    color: black;
}

#map {
    height: 50%;
}